.recipeDetailsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1396px;
  width: 100%;
  padding: 0 15px;
  margin: 203px auto 305px auto;
  flex-wrap: wrap;
  gap: 50px;
}

.recipeDetailsCol1 {
  max-width: 560px;
  width: 100%;
  min-height: 550px;
  height: 100%;
  background: #8b888836;
  border-radius: 28px;
  padding: 24px 24px 52px 24px;
}

.recipeDetailsCol1 h2 {
  font-size: 15px;
  line-height: 18.29px;
  color: #1d1b20;
}

.recipeDetailsCol1 p {
  font-size: 10px;
  line-height: 12.19px;
  color: #49454f;
  margin: 16px 0 40px 0;
}

.recipeDetailsCol1 h3 {
  font-size: 12px;
  line-height: 16.29px;
  border-bottom: 1px solid #cac4d0;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.recipeDetailsCol1 ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #a2a8ba;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 20px;
}

.recipeDetailsCol1 li::before {
  content: '';
  background: url(../../assets/images/listTick.svg);
  position: relative;
  width: 25px;
  height: 25px;
}

.recipeDetailsCol2 {
  max-width: 557px;
  width: 100%;
  max-height: 552px;
  height: 100%;
}

@media(max-width: 1199px) {
  .recipeDetailsWrapper {
    justify-content: center;
    flex-direction: column-reverse;
    margin: 121px auto 205px auto;
  }
}